<?xml version="1.0" encoding="UTF-8" ?>


<!-- 没有用上，但是留作参考-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="JDBC.dao.UserMapper">
    <select id="createAccount">
   insert("insert into user(nick,passwd) value(#{nick},#{passwd})")
  </select>
</mapper>